# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#Database
DATABASE_URL="postgresql://user:password@localhost:5432/database"

#JWT
JWT_SECRET="secretKey"
JWT_EXPIRES_IN="604800s"

#Running Port
PORT=8000

#OriginCEP
ORIGIN_CEP="44032498"
SHIPPING_MODES=["04014", "04510"]